packages/node-red/.flows.json.backup
[
    {
        "id": "12f2fbb2.688eb4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5502b9e2.1e9b88",
        "type": "config-node-location",
        "z": "",
        "name": "Kitchen",
        "tags": "kitchen"
    },
    {
        "id": "9d7c8fde.04677",
        "type": "config-node-zwave-pick-device",
        "z": "",
        "name": "",
        "node_id": "6",
        "device": "aeotecZWA008",
        "location": "5502b9e2.1e9b88"
    },
    {
        "id": "a0be0ab7.8c7498",
        "type": "node-zwave-device-mqtt",
        "z": "12f2fbb2.688eb4",
        "name": "",
        "device": "9d7c8fde.04677",
        "x": 650,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a15df637.b58df8",
        "type": "node-planner",
        "z": "12f2fbb2.688eb4",
        "name": "",
        "url": "planner",
        "planner": "{\"unit\":\"cm\",\"layers\":{\"layer-1\":{\"id\":\"layer-1\",\"altitude\":0,\"order\":0,\"opacity\":1,\"name\":\"default\",\"visible\":true,\"vertices\":{\"_c2s7_5uBv\":{\"id\":\"_c2s7_5uBv\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":859.1638185624798,\"y\":445.18804972022826,\"lines\":[\"56DyPI3k5Yj\",\"L3M6kxdiJCW\"],\"areas\":[]},\"tf8li0jzr6\":{\"id\":\"tf8li0jzr6\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":894.1506110696117,\"y\":106.4934146702933,\"lines\":[\"nM5cD4uB44H\",\"RA_Xv-BhhNm\"],\"areas\":[]},\"7kBIV7cS3H\":{\"id\":\"7kBIV7cS3H\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":57.166017131109726,\"y\":61.493414670293305,\"lines\":[\"rZsyfTt4K6x\",\"VRzOEVtGgVT\"],\"areas\":[]},\"XJs9eEj7CB\":{\"id\":\"XJs9eEj7CB\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1038.16381856248,\"y\":266.4934146702933,\"lines\":[\"_GSrn0qguRI\",\"PEqpmvHyLhi\"],\"areas\":[]},\"7jO732e1WU\":{\"id\":\"7jO732e1WU\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":257.16381856247983,\"y\":266.4934146702933,\"lines\":[\"vmUSendKKuU\",\"5BI0zyFxfGQ\",\"wxqZc3v27xf\"],\"areas\":[]},\"tDVA-onC7FE\":{\"id\":\"tDVA-onC7FE\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":710.1638185624798,\"y\":61.491616482996506,\"lines\":[\"MYCRYjVMtmK\",\"Vn4iv_EdYis\",\"ymSASpLnela\"],\"areas\":[]},\"1y8LfuMP_6\":{\"id\":\"1y8LfuMP_6\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":710.1638185624798,\"y\":133.4934146702933,\"lines\":[\"MYCRYjVMtmK\",\"ovjfRPYDxjg\",\"fUMR_3xYf9Z\"],\"areas\":[]},\"KgnNpLKWq3\":{\"id\":\"KgnNpLKWq3\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":57.16381856247986,\"y\":363.18485256605527,\"lines\":[\"UKMFX-PpGiB\",\"E4nCeCWJji5\",\"rZsyfTt4K6x\"],\"areas\":[]},\"DNCYpugQVw9\":{\"id\":\"DNCYpugQVw9\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":753.1638185624798,\"y\":642.1834146702934,\"lines\":[\"XYYcFp65Hsl\",\"gOhYRerXa6q\",\"R5ZwLapSPVx\"],\"areas\":[]},\"h0WLOlUvsb\":{\"id\":\"h0WLOlUvsb\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":710.1638185624798,\"y\":642.1834146702934,\"lines\":[\"lLbkczSsvRb\",\"QqBOV4cYrHb\",\"gOhYRerXa6q\"],\"areas\":[]},\"X8szm4Jd7z\":{\"id\":\"X8szm4Jd7z\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1385.16381856248,\"y\":642.1834146702934,\"lines\":[\"ndxcWFnlgX\",\"jy79K20A-kA\"],\"areas\":[]},\"NH17_v-Q8I\":{\"id\":\"NH17_v-Q8I\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":57.16381856247986,\"y\":642.1834146702934,\"lines\":[\"E4nCeCWJji5\",\"lLbkczSsvRb\"],\"areas\":[]},\"O_wLNf5et6\":{\"id\":\"O_wLNf5et6\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":952.1544129756412,\"y\":61.491616482996506,\"lines\":[\"fdAnd10M1uQ\",\"ymSASpLnela\",\"_kMMZDn4Tr-\"],\"areas\":[]},\"EzDHGZgwui\":{\"id\":\"EzDHGZgwui\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1385.15381856248,\"y\":61.493414670293305,\"lines\":[\"Qbf7iDu3g3n\",\"_kMMZDn4Tr-\"],\"areas\":[]},\"mpxCNELtHm\":{\"id\":\"mpxCNELtHm\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":753.1638185624798,\"y\":585.1834146702934,\"lines\":[\"qEL4IxVypDT\",\"XYYcFp65Hsl\"],\"areas\":[]},\"pa7gBY24rJ\":{\"id\":\"pa7gBY24rJ\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":710.1638185624798,\"y\":266.4934146702933,\"lines\":[\"ovjfRPYDxjg\",\"wxqZc3v27xf\",\"LOb03mQvXsN\",\"MuVUECb1c4V\"],\"areas\":[]},\"U6XuRswOZv\":{\"id\":\"U6XuRswOZv\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":710.1638185624798,\"y\":585.1834146702934,\"lines\":[\"3abxz1K1G5E\",\"QqBOV4cYrHb\",\"qEL4IxVypDT\"],\"areas\":[]},\"z8A416zV02\":{\"id\":\"z8A416zV02\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":952.1544129756412,\"y\":106.4934146702933,\"lines\":[\"RA_Xv-BhhNm\",\"fdAnd10M1uQ\",\"OdxCf5bfAHq\"],\"areas\":[]},\"RbSSwk9KeC\":{\"id\":\"RbSSwk9KeC\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":257.16381856247983,\"y\":363.4934146702933,\"lines\":[\"5BI0zyFxfGQ\",\"UKMFX-PpGiB\"],\"areas\":[]},\"gRldGTaIyU\":{\"id\":\"gRldGTaIyU\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":645.1638185624798,\"y\":133.4934146702933,\"lines\":[\"fUMR_3xYf9Z\",\"4Ai_REidvA8\"],\"areas\":[]},\"ITVKKzexAa6\":{\"id\":\"ITVKKzexAa6\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":894.1506110696117,\"y\":61.493414670293305,\"lines\":[\"nM5cD4uB44H\"],\"areas\":[]},\"ZFNO3i1lqo4\":{\"id\":\"ZFNO3i1lqo4\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1385.16381856248,\"y\":376.18690685523165,\"lines\":[\"ndxcWFnlgX\",\"12oMUsAIIvG\",\"Qbf7iDu3g3n\"],\"areas\":[]},\"kQwm_FvQVq\":{\"id\":\"kQwm_FvQVq\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1038.16381856248,\"y\":376.18690685523165,\"lines\":[\"12oMUsAIIvG\",\"PEqpmvHyLhi\",\"uHSY_2nHS0Y\"],\"areas\":[]},\"bGmHh1kcyQ\":{\"id\":\"bGmHh1kcyQ\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":645.1638185624798,\"y\":61.491616482996506,\"lines\":[\"Vn4iv_EdYis\",\"tNiEPEERiS3\",\"4Ai_REidvA8\"],\"areas\":[]},\"VR8j2D5uXq\":{\"id\":\"VR8j2D5uXq\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":859.1638185624798,\"y\":642.1834146702934,\"lines\":[\"L3M6kxdiJCW\",\"R5ZwLapSPVx\",\"fUl2p7H03eU\"],\"areas\":[]},\"YofJXIT8Vb\":{\"id\":\"YofJXIT8Vb\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1038.16381856248,\"y\":642.1834146702934,\"lines\":[\"jy79K20A-kA\",\"uHSY_2nHS0Y\",\"fUl2p7H03eU\"],\"areas\":[]},\"ILdEnURGZoq\":{\"id\":\"ILdEnURGZoq\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":952.1544129756412,\"y\":266.4934146702933,\"lines\":[\"_GSrn0qguRI\",\"LOb03mQvXsN\",\"OdxCf5bfAHq\"],\"areas\":[]},\"Vd-RfwevOW\":{\"id\":\"Vd-RfwevOW\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":710.1638185624798,\"y\":445.19268477016317,\"lines\":[\"56DyPI3k5Yj\",\"MuVUECb1c4V\",\"3abxz1K1G5E\"],\"areas\":[]},\"Z5HMAKlHtl\":{\"id\":\"Z5HMAKlHtl\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":257.16381856247983,\"y\":61.491616482996506,\"lines\":[\"vmUSendKKuU\",\"VRzOEVtGgVT\",\"tNiEPEERiS3\"],\"areas\":[]}},\"lines\":{\"E4nCeCWJji5\":{\"id\":\"E4nCeCWJji5\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"KgnNpLKWq3\",\"NH17_v-Q8I\"],\"holes\":[\"p9NcbAUHFQ1\"]},\"RA_Xv-BhhNm\":{\"id\":\"RA_Xv-BhhNm\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"tf8li0jzr6\",\"z8A416zV02\"],\"holes\":[]},\"LOb03mQvXsN\":{\"id\":\"LOb03mQvXsN\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"ILdEnURGZoq\"],\"holes\":[\"Mi0GgAOFf9R\"]},\"vmUSendKKuU\":{\"id\":\"vmUSendKKuU\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"Z5HMAKlHtl\",\"7jO732e1WU\"],\"holes\":[\"7bOsXUrDUOo\"]},\"lLbkczSsvRb\":{\"id\":\"lLbkczSsvRb\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"NH17_v-Q8I\",\"h0WLOlUvsb\"],\"holes\":[]},\"Qbf7iDu3g3n\":{\"id\":\"Qbf7iDu3g3n\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"EzDHGZgwui\",\"ZFNO3i1lqo4\"],\"holes\":[\"2pETa9txrmv\"]},\"ovjfRPYDxjg\":{\"id\":\"ovjfRPYDxjg\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"1y8LfuMP_6\",\"pa7gBY24rJ\"],\"holes\":[]},\"gOhYRerXa6q\":{\"id\":\"gOhYRerXa6q\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"h0WLOlUvsb\",\"DNCYpugQVw9\"],\"holes\":[]},\"QqBOV4cYrHb\":{\"id\":\"QqBOV4cYrHb\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"U6XuRswOZv\",\"h0WLOlUvsb\"],\"holes\":[]},\"5BI0zyFxfGQ\":{\"id\":\"5BI0zyFxfGQ\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"7jO732e1WU\",\"RbSSwk9KeC\"],\"holes\":[]},\"_GSrn0qguRI\":{\"id\":\"_GSrn0qguRI\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"ILdEnURGZoq\",\"XJs9eEj7CB\"],\"holes\":[]},\"XYYcFp65Hsl\":{\"id\":\"XYYcFp65Hsl\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"mpxCNELtHm\",\"DNCYpugQVw9\"],\"holes\":[]},\"Vn4iv_EdYis\":{\"id\":\"Vn4iv_EdYis\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"bGmHh1kcyQ\",\"tDVA-onC7FE\"],\"holes\":[]},\"MYCRYjVMtmK\":{\"id\":\"MYCRYjVMtmK\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"tDVA-onC7FE\",\"1y8LfuMP_6\"],\"holes\":[]},\"wxqZc3v27xf\":{\"id\":\"wxqZc3v27xf\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"7jO732e1WU\",\"pa7gBY24rJ\"],\"holes\":[]},\"VRzOEVtGgVT\":{\"id\":\"VRzOEVtGgVT\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"7kBIV7cS3H\",\"Z5HMAKlHtl\"],\"holes\":[]},\"rZsyfTt4K6x\":{\"id\":\"rZsyfTt4K6x\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"KgnNpLKWq3\",\"7kBIV7cS3H\"],\"holes\":[]},\"MuVUECb1c4V\":{\"id\":\"MuVUECb1c4V\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"Vd-RfwevOW\"],\"holes\":[]},\"tNiEPEERiS3\":{\"id\":\"tNiEPEERiS3\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"Z5HMAKlHtl\",\"bGmHh1kcyQ\"],\"holes\":[]},\"qEL4IxVypDT\":{\"id\":\"qEL4IxVypDT\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"U6XuRswOZv\",\"mpxCNELtHm\"],\"holes\":[]},\"_kMMZDn4Tr-\":{\"id\":\"_kMMZDn4Tr-\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"O_wLNf5et6\",\"EzDHGZgwui\"],\"holes\":[]},\"12oMUsAIIvG\":{\"id\":\"12oMUsAIIvG\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"kQwm_FvQVq\",\"ZFNO3i1lqo4\"],\"holes\":[]},\"3abxz1K1G5E\":{\"id\":\"3abxz1K1G5E\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"Vd-RfwevOW\",\"U6XuRswOZv\"],\"holes\":[]},\"uHSY_2nHS0Y\":{\"id\":\"uHSY_2nHS0Y\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"kQwm_FvQVq\",\"YofJXIT8Vb\"],\"holes\":[\"kOug-jRLVSP\"]},\"OdxCf5bfAHq\":{\"id\":\"OdxCf5bfAHq\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"z8A416zV02\",\"ILdEnURGZoq\"],\"holes\":[]},\"fdAnd10M1uQ\":{\"id\":\"fdAnd10M1uQ\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"O_wLNf5et6\",\"z8A416zV02\"],\"holes\":[]},\"ymSASpLnela\":{\"id\":\"ymSASpLnela\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"tDVA-onC7FE\",\"O_wLNf5et6\"],\"holes\":[]},\"R5ZwLapSPVx\":{\"id\":\"R5ZwLapSPVx\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"DNCYpugQVw9\",\"VR8j2D5uXq\"],\"holes\":[]},\"jy79K20A-kA\":{\"id\":\"jy79K20A-kA\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"YofJXIT8Vb\",\"X8szm4Jd7z\"],\"holes\":[]},\"UKMFX-PpGiB\":{\"id\":\"UKMFX-PpGiB\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"KgnNpLKWq3\",\"RbSSwk9KeC\"],\"holes\":[\"9BTc6EPV4Ke\"]},\"L3M6kxdiJCW\":{\"id\":\"L3M6kxdiJCW\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"_c2s7_5uBv\",\"VR8j2D5uXq\"],\"holes\":[]},\"4Ai_REidvA8\":{\"id\":\"4Ai_REidvA8\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"bGmHh1kcyQ\",\"gRldGTaIyU\"],\"holes\":[]},\"nM5cD4uB44H\":{\"id\":\"nM5cD4uB44H\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"ITVKKzexAa6\",\"tf8li0jzr6\"],\"holes\":[]},\"fUMR_3xYf9Z\":{\"id\":\"fUMR_3xYf9Z\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"gRldGTaIyU\",\"1y8LfuMP_6\"],\"holes\":[]},\"ndxcWFnlgX\":{\"id\":\"ndxcWFnlgX\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"ZFNO3i1lqo4\",\"X8szm4Jd7z\"],\"holes\":[\"lyLMp3MZ7-\"]},\"fUl2p7H03eU\":{\"id\":\"fUl2p7H03eU\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"VR8j2D5uXq\",\"YofJXIT8Vb\"],\"holes\":[\"GIqyXtuOtXg\"]},\"PEqpmvHyLhi\":{\"id\":\"PEqpmvHyLhi\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"XJs9eEj7CB\",\"kQwm_FvQVq\"],\"holes\":[\"P02Aw0oHpHZ\"]},\"56DyPI3k5Yj\":{\"id\":\"56DyPI3k5Yj\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"Vd-RfwevOW\",\"_c2s7_5uBv\"],\"holes\":[\"xbaVKD96nMu\"]}},\"holes\":{\"9BTc6EPV4Ke\":{\"id\":\"9BTc6EPV4Ke\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":false},\"visible\":true,\"offset\":0.2667154292524596,\"line\":\"UKMFX-PpGiB\"},\"P02Aw0oHpHZ\":{\"id\":\"P02Aw0oHpHZ\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":84,\"_length\":84,\"_unit\":\"cm\"},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":true},\"visible\":true,\"offset\":0.4972042483409549,\"line\":\"PEqpmvHyLhi\"},\"xbaVKD96nMu\":{\"id\":\"xbaVKD96nMu\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":true,\"is_open\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-7\"},\"Tampering -  Cover Removed\"]}]}}},\"visible\":true,\"offset\":0.45588806333900017,\"line\":\"56DyPI3k5Yj\"},\"GIqyXtuOtXg\":{\"id\":\"GIqyXtuOtXg\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":true,\"is_open\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}},\"is_tamper_alert\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Closed\"]}]}}},\"visible\":true,\"offset\":0.689106147695643,\"line\":\"fUl2p7H03eU\"},\"kOug-jRLVSP\":{\"id\":\"kOug-jRLVSP\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":true,\"is_open\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}}},\"visible\":true,\"offset\":0.19231263434606552,\"line\":\"uHSY_2nHS0Y\"},\"2pETa9txrmv\":{\"id\":\"2pETa9txrmv\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":175,\"_length\":175,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.4827022518802191,\"line\":\"Qbf7iDu3g3n\"},\"lyLMp3MZ7-\":{\"id\":\"lyLMp3MZ7-\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":175,\"_length\":175,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.46707823033206514,\"line\":\"ndxcWFnlgX\"},\"p9NcbAUHFQ1\":{\"id\":\"p9NcbAUHFQ1\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":186,\"_length\":186,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.6229422765591547,\"line\":\"E4nCeCWJji5\"},\"7bOsXUrDUOo\":{\"id\":\"7bOsXUrDUOo\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":175,\"_length\":175,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.7215476294596204,\"line\":\"vmUSendKKuU\"},\"Mi0GgAOFf9R\":{\"id\":\"Mi0GgAOFf9R\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":false},\"visible\":true,\"offset\":0.5160066561278249,\"line\":\"LOb03mQvXsN\"}},\"areas\":{\"kwodKcauNhg\":{\"id\":\"kwodKcauNhg\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"7jO732e1WU\",\"RbSSwk9KeC\",\"KgnNpLKWq3\",\"7kBIV7cS3H\",\"Z5HMAKlHtl\"],\"holes\":[]},\"HDmkKa1tCOA\":{\"id\":\"HDmkKa1tCOA\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"7jO732e1WU\",\"Z5HMAKlHtl\",\"bGmHh1kcyQ\",\"gRldGTaIyU\",\"1y8LfuMP_6\"],\"holes\":[]},\"y2p3iItpidz\":{\"id\":\"y2p3iItpidz\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"ILdEnURGZoq\",\"XJs9eEj7CB\",\"kQwm_FvQVq\",\"YofJXIT8Vb\",\"VR8j2D5uXq\",\"_c2s7_5uBv\",\"Vd-RfwevOW\"],\"holes\":[]},\"tOfmt0RnciL\":{\"id\":\"tOfmt0RnciL\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"EzDHGZgwui\",\"ZFNO3i1lqo4\",\"kQwm_FvQVq\",\"XJs9eEj7CB\",\"ILdEnURGZoq\",\"z8A416zV02\",\"O_wLNf5et6\"],\"holes\":[]},\"OdlT7XF9W5\":{\"id\":\"OdlT7XF9W5\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"ceramic\"},\"visible\":true,\"vertices\":[\"_c2s7_5uBv\",\"VR8j2D5uXq\",\"DNCYpugQVw9\",\"mpxCNELtHm\",\"U6XuRswOZv\",\"Vd-RfwevOW\"],\"holes\":[]},\"CgLi7ClJ9mn\":{\"id\":\"CgLi7ClJ9mn\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"U6XuRswOZv\",\"h0WLOlUvsb\",\"NH17_v-Q8I\",\"KgnNpLKWq3\",\"RbSSwk9KeC\",\"7jO732e1WU\",\"pa7gBY24rJ\",\"Vd-RfwevOW\"],\"holes\":[]},\"ZwdFcL4kAQ\":{\"id\":\"ZwdFcL4kAQ\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"ceramic\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"1y8LfuMP_6\",\"tDVA-onC7FE\",\"O_wLNf5et6\",\"z8A416zV02\",\"ILdEnURGZoq\"],\"holes\":[]},\"7fD5e3-NJVP\":{\"id\":\"7fD5e3-NJVP\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"kQwm_FvQVq\",\"ZFNO3i1lqo4\",\"X8szm4Jd7z\",\"YofJXIT8Vb\"],\"holes\":[]},\"XCO1FHN2HJ-\":{\"id\":\"XCO1FHN2HJ-\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"gRldGTaIyU\",\"bGmHh1kcyQ\",\"tDVA-onC7FE\",\"1y8LfuMP_6\"],\"holes\":[]},\"hdlqO7yuQh\":{\"id\":\"hdlqO7yuQh\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"U6XuRswOZv\",\"mpxCNELtHm\",\"DNCYpugQVw9\",\"h0WLOlUvsb\"],\"holes\":[]}},\"items\":{\"5TIaEuOy9\":{\"id\":\"5TIaEuOy9\",\"type\":\"smoke-detector\",\"prototype\":\"items\",\"name\":\"Smoke detector\",\"misc\":{},\"selected\":false,\"properties\":{\"altitude\":{\"length\":250,\"unit\":\"cm\"},\"is_alarm\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}},\"is_tamper_alert\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Closed\"]}]}}},\"visible\":true,\"x\":472.51381856247986,\"y\":442.3834146702934,\"rotation\":0},\"KpE5xFgSw\":{\"id\":\"KpE5xFgSw\",\"type\":\"lock\",\"prototype\":\"items\",\"name\":\"Lock\",\"misc\":{},\"selected\":false,\"properties\":{\"altitude\":{\"length\":250,\"unit\":\"cm\"},\"is_locked\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}}},\"visible\":true,\"x\":984.5138185624799,\"y\":628.3834146702934,\"rotation\":-180},\"FtoDqib_9\":{\"id\":\"FtoDqib_9\",\"type\":\"motion-sensor\",\"prototype\":\"items\",\"name\":\"Motion sensor\",\"misc\":{},\"selected\":false,\"properties\":{\"altitude\":{\"length\":250,\"unit\":\"cm\"},\"detection_angle\":120,\"detection_length\":{\"length\":250,\"unit\":\"cm\"},\"is_motion\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}}},\"visible\":true,\"x\":997.5138185624799,\"y\":302.3834146702934,\"rotation\":-180},\"DmEGgpNRU\":{\"id\":\"DmEGgpNRU\",\"type\":\"light\",\"prototype\":\"items\",\"name\":\"Light\",\"misc\":{},\"selected\":false,\"properties\":{\"altitude\":{\"length\":250,\"unit\":\"cm\"},\"is_turn_on\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Closed\"]}]}}},\"visible\":true,\"x\":860.5138185624799,\"y\":370.3834146702934,\"rotation\":0}},\"selected\":{\"vertices\":[],\"lines\":[],\"holes\":[],\"areas\":[],\"items\":[]}}},\"grids\":{\"h1\":{\"id\":\"h1\",\"type\":\"horizontal-streak\",\"properties\":{\"step\":20,\"colors\":[\"#808080\",\"#ddd\",\"#ddd\",\"#ddd\",\"#ddd\"]}},\"v1\":{\"id\":\"v1\",\"type\":\"vertical-streak\",\"properties\":{\"step\":20,\"colors\":[\"#808080\",\"#ddd\",\"#ddd\",\"#ddd\",\"#ddd\"]}}},\"selectedLayer\":\"layer-1\",\"groups\":{\"D-0u6B3C0\":{\"id\":\"D-0u6B3C0\",\"type\":\"\",\"prototype\":\"groups\",\"name\":\"D-0u6B3C0\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":745,\"y\":345,\"rotation\":0,\"elements\":{\"layer-1\":{\"lines\":[\"ndxcWFnlgX\",\"_GSrn0qguRI\",\"56DyPI3k5Yj\",\"vmUSendKKuU\",\"5BI0zyFxfGQ\",\"MYCRYjVMtmK\",\"ovjfRPYDxjg\",\"wxqZc3v27xf\",\"LOb03mQvXsN\",\"nM5cD4uB44H\",\"UKMFX-PpGiB\",\"E4nCeCWJji5\",\"lLbkczSsvRb\",\"MuVUECb1c4V\",\"3abxz1K1G5E\",\"QqBOV4cYrHb\",\"qEL4IxVypDT\",\"XYYcFp65Hsl\",\"jy79K20A-kA\",\"RA_Xv-BhhNm\",\"Vn4iv_EdYis\",\"fdAnd10M1uQ\",\"OdxCf5bfAHq\",\"12oMUsAIIvG\",\"PEqpmvHyLhi\",\"uHSY_2nHS0Y\",\"rZsyfTt4K6x\",\"VRzOEVtGgVT\",\"tNiEPEERiS3\",\"fUMR_3xYf9Z\",\"4Ai_REidvA8\",\"L3M6kxdiJCW\",\"gOhYRerXa6q\",\"R5ZwLapSPVx\",\"fUl2p7H03eU\",\"Qbf7iDu3g3n\",\"ymSASpLnela\",\"_kMMZDn4Tr-\"],\"holes\":[],\"items\":[\"5TIaEuOy9\",\"KpE5xFgSw\",\"FtoDqib_9\",\"DmEGgpNRU\"]}}}},\"width\":1440,\"height\":700,\"meta\":{},\"guides\":{\"horizontal\":{},\"vertical\":{},\"circular\":{}}}",
        "x": 570,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "149f39d1.a19746",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "open",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,113,{\"value_id\":\"6-113-1-6\",\"node_id\":6,\"class_id\":113,\"type\":\"list\",\"genre\":\"user\",\"instance\":1,\"index\":6,\"label\":\"Access Control\",\"units\":\"\",\"help\":\"Access Control Alerts\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"values\":[\"Clear\",\"Door/Window Open\",\"Door/Window Closed\"],\"value\":\"Door/Window Open\"}]}",
        "payloadType": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    },
    {
        "id": "6dc22b6f.cb8c54",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "closed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,113,{\"value_id\":\"6-113-1-6\",\"node_id\":6,\"class_id\":113,\"type\":\"list\",\"genre\":\"user\",\"instance\":1,\"index\":6,\"label\":\"Access Control\",\"units\":\"\",\"help\":\"Access Control Alerts\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"values\":[\"Clear\",\"Door/Window Open\",\"Door/Window Closed\"],\"value\":\"Door/Window Closed\"}]}",
        "payloadType": "str",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    }
]