packages/node-red/.flows.json.backup
[
    {
        "id": "12f2fbb2.688eb4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5502b9e2.1e9b88",
        "type": "config-node-location",
        "z": "",
        "name": "Kitchen",
        "tags": "kitchen"
    },
    {
        "id": "9d7c8fde.04677",
        "type": "config-node-zwave-pick-device",
        "z": "",
        "name": "",
        "node_id": "6",
        "device": "aeotecZWA008",
        "location": "5502b9e2.1e9b88"
    },
    {
        "id": "a0be0ab7.8c7498",
        "type": "node-zwave-device-mqtt",
        "z": "12f2fbb2.688eb4",
        "name": "",
        "device": "9d7c8fde.04677",
        "x": 650,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a15df637.b58df8",
        "type": "node-planner",
        "z": "12f2fbb2.688eb4",
        "name": "",
        "url": "planner",
        "planner": "{\"unit\":\"cm\",\"layers\":{\"layer-1\":{\"id\":\"layer-1\",\"altitude\":0,\"order\":0,\"opacity\":1,\"name\":\"default\",\"visible\":true,\"vertices\":{\"_c2s7_5uBv\":{\"id\":\"_c2s7_5uBv\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":902.65,\"y\":1702.8046350499349,\"lines\":[\"YElQF3XIi\",\"dPvKk9FGr\"],\"areas\":[]},\"tf8li0jzr6\":{\"id\":\"tf8li0jzr6\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":937.6367925071319,\"y\":1364.11,\"lines\":[\"YNeIAtvL4\",\"MjURFDALs3\"],\"areas\":[]},\"7kBIV7cS3H\":{\"id\":\"7kBIV7cS3H\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":100.65219856862987,\"y\":1319.11,\"lines\":[\"yNQr-yPiUj\",\"kyJtS9NisCu\"],\"areas\":[]},\"XJs9eEj7CB\":{\"id\":\"XJs9eEj7CB\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1081.65,\"y\":1524.11,\"lines\":[\"--DmkJTl59e\",\"Klm-86RAH\"],\"areas\":[]},\"7jO732e1WU\":{\"id\":\"7jO732e1WU\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":300.65,\"y\":1524.11,\"lines\":[\"FzOrZX7Ff\",\"kWX0_y1JZQ\",\"qGCc08CCA\"],\"areas\":[]},\"tDVA-onC7FE\":{\"id\":\"tDVA-onC7FE\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":753.65,\"y\":1319.108201812703,\"lines\":[\"jCj5Emh5oKI\",\"41SDdX7-Hb8\",\"kbNHwARTko\"],\"areas\":[]},\"1y8LfuMP_6\":{\"id\":\"1y8LfuMP_6\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":753.65,\"y\":1391.11,\"lines\":[\"STIOEtSnI\",\"kbNHwARTko\",\"u8H1wlWLCs\"],\"areas\":[]},\"KgnNpLKWq3\":{\"id\":\"KgnNpLKWq3\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":100.65,\"y\":1620.8014378957619,\"lines\":[\"kyJtS9NisCu\",\"41oL7Zque\",\"vxEzRGqcru\"],\"areas\":[]},\"DNCYpugQVw9\":{\"id\":\"DNCYpugQVw9\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":796.65,\"y\":1899.8,\"lines\":[\"V-7Ui222dAD\",\"GvXW1vTfg1\",\"Zly05G6ggm\"],\"areas\":[]},\"h0WLOlUvsb\":{\"id\":\"h0WLOlUvsb\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":753.65,\"y\":1899.8,\"lines\":[\"J8LcFSHWj\",\"Zly05G6ggm\",\"rpZcGP15PB\"],\"areas\":[]},\"X8szm4Jd7z\":{\"id\":\"X8szm4Jd7z\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1428.65,\"y\":1899.8,\"lines\":[\"VQFLIFqcG7\",\"VJDZXehReo\"],\"areas\":[]},\"NH17_v-Q8I\":{\"id\":\"NH17_v-Q8I\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":100.65,\"y\":1899.8,\"lines\":[\"41oL7Zque\",\"J8LcFSHWj\"],\"areas\":[]},\"O_wLNf5et6\":{\"id\":\"O_wLNf5et6\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":995.6405944131614,\"y\":1319.108201812703,\"lines\":[\"InmiOJIjw\",\"41SDdX7-Hb8\",\"P5goqVyhm\"],\"areas\":[]},\"EzDHGZgwui\":{\"id\":\"EzDHGZgwui\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1428.64,\"y\":1319.11,\"lines\":[\"p34xz4pyi\",\"InmiOJIjw\"],\"areas\":[]},\"mpxCNELtHm\":{\"id\":\"mpxCNELtHm\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":796.65,\"y\":1842.8,\"lines\":[\"V-7Ui222dAD\",\"wSlRvkFNX\"],\"areas\":[]},\"pa7gBY24rJ\":{\"id\":\"pa7gBY24rJ\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":753.65,\"y\":1524.11,\"lines\":[\"qGCc08CCA\",\"f6llfjOy__\",\"u8H1wlWLCs\",\"l1x4b5vgWh\"],\"areas\":[]},\"U6XuRswOZv\":{\"id\":\"U6XuRswOZv\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":753.65,\"y\":1842.8,\"lines\":[\"wSlRvkFNX\",\"i07kP34RB7\",\"rpZcGP15PB\"],\"areas\":[]},\"z8A416zV02\":{\"id\":\"z8A416zV02\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":995.6405944131614,\"y\":1364.11,\"lines\":[\"YNeIAtvL4\",\"P5goqVyhm\",\"RkERIbewFM\"],\"areas\":[]},\"RbSSwk9KeC\":{\"id\":\"RbSSwk9KeC\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":300.65,\"y\":1621.11,\"lines\":[\"vxEzRGqcru\",\"kWX0_y1JZQ\"],\"areas\":[]},\"gRldGTaIyU\":{\"id\":\"gRldGTaIyU\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":688.65,\"y\":1391.11,\"lines\":[\"STIOEtSnI\",\"BggyE2BWE-O\"],\"areas\":[]},\"zlS3EVtNFA\":{\"id\":\"zlS3EVtNFA\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":937.6367925071319,\"y\":1319.11,\"lines\":[\"MjURFDALs3\"],\"areas\":[]},\"ZFNO3i1lqo4\":{\"id\":\"ZFNO3i1lqo4\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1428.65,\"y\":1633.8034921849382,\"lines\":[\"qk8x543nia\",\"p34xz4pyi\",\"VQFLIFqcG7\"],\"areas\":[]},\"kQwm_FvQVq\":{\"id\":\"kQwm_FvQVq\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1081.65,\"y\":1633.8034921849382,\"lines\":[\"qk8x543nia\",\"Klm-86RAH\",\"Awkz5ZWi3n\"],\"areas\":[]},\"bGmHh1kcyQ\":{\"id\":\"bGmHh1kcyQ\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":688.65,\"y\":1319.108201812703,\"lines\":[\"BggyE2BWE-O\",\"jCj5Emh5oKI\",\"kcENjpSejs\"],\"areas\":[]},\"VR8j2D5uXq\":{\"id\":\"VR8j2D5uXq\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":902.65,\"y\":1899.8,\"lines\":[\"YElQF3XIi\",\"oYmcyeQ0ag\",\"GvXW1vTfg1\"],\"areas\":[]},\"YofJXIT8Vb\":{\"id\":\"YofJXIT8Vb\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1081.65,\"y\":1899.8,\"lines\":[\"Awkz5ZWi3n\",\"VJDZXehReo\",\"oYmcyeQ0ag\"],\"areas\":[]},\"ILdEnURGZoq\":{\"id\":\"ILdEnURGZoq\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":995.6405944131614,\"y\":1524.11,\"lines\":[\"--DmkJTl59e\",\"RkERIbewFM\",\"f6llfjOy__\"],\"areas\":[]},\"Vd-RfwevOW\":{\"id\":\"Vd-RfwevOW\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":753.65,\"y\":1702.8092700998698,\"lines\":[\"dPvKk9FGr\",\"l1x4b5vgWh\",\"i07kP34RB7\"],\"areas\":[]},\"Z5HMAKlHtl\":{\"id\":\"Z5HMAKlHtl\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":300.65,\"y\":1319.108201812703,\"lines\":[\"yNQr-yPiUj\",\"kcENjpSejs\",\"FzOrZX7Ff\"],\"areas\":[]}},\"lines\":{\"VQFLIFqcG7\":{\"id\":\"VQFLIFqcG7\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"ZFNO3i1lqo4\",\"X8szm4Jd7z\"],\"holes\":[\"mYi8tTDrX\"]},\"--DmkJTl59e\":{\"id\":\"--DmkJTl59e\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"XJs9eEj7CB\",\"ILdEnURGZoq\"],\"holes\":[]},\"vxEzRGqcru\":{\"id\":\"vxEzRGqcru\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"KgnNpLKWq3\",\"RbSSwk9KeC\"],\"holes\":[\"vEFC654zEs\"]},\"kbNHwARTko\":{\"id\":\"kbNHwARTko\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"tDVA-onC7FE\",\"1y8LfuMP_6\"],\"holes\":[]},\"dPvKk9FGr\":{\"id\":\"dPvKk9FGr\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"Vd-RfwevOW\",\"_c2s7_5uBv\"],\"holes\":[\"W13rvh4CvW\"]},\"kcENjpSejs\":{\"id\":\"kcENjpSejs\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"Z5HMAKlHtl\",\"bGmHh1kcyQ\"],\"holes\":[]},\"FzOrZX7Ff\":{\"id\":\"FzOrZX7Ff\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"Z5HMAKlHtl\",\"7jO732e1WU\"],\"holes\":[\"ahULmLCCUW\"]},\"qGCc08CCA\":{\"id\":\"qGCc08CCA\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":0,\"_length\":0,\"_unit\":\"cm\"},\"thickness\":{\"length\":5,\"_length\":5,\"_unit\":\"cm\"},\"textureA\":\"bricks\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"7jO732e1WU\",\"pa7gBY24rJ\"],\"holes\":[]},\"MjURFDALs3\":{\"id\":\"MjURFDALs3\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"zlS3EVtNFA\",\"tf8li0jzr6\"],\"holes\":[]},\"41oL7Zque\":{\"id\":\"41oL7Zque\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"NH17_v-Q8I\",\"KgnNpLKWq3\"],\"holes\":[\"3wHppRxn8\"]},\"u8H1wlWLCs\":{\"id\":\"u8H1wlWLCs\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300,\"_length\":300,\"_unit\":\"cm\"},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"1y8LfuMP_6\",\"pa7gBY24rJ\"],\"holes\":[]},\"rpZcGP15PB\":{\"id\":\"rpZcGP15PB\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"U6XuRswOZv\",\"h0WLOlUvsb\"],\"holes\":[]},\"41SDdX7-Hb8\":{\"id\":\"41SDdX7-Hb8\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"O_wLNf5et6\",\"tDVA-onC7FE\"],\"holes\":[]},\"V-7Ui222dAD\":{\"id\":\"V-7Ui222dAD\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"mpxCNELtHm\",\"DNCYpugQVw9\"],\"holes\":[]},\"J8LcFSHWj\":{\"id\":\"J8LcFSHWj\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"NH17_v-Q8I\",\"h0WLOlUvsb\"],\"holes\":[]},\"VJDZXehReo\":{\"id\":\"VJDZXehReo\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"YofJXIT8Vb\",\"X8szm4Jd7z\"],\"holes\":[]},\"P5goqVyhm\":{\"id\":\"P5goqVyhm\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"O_wLNf5et6\",\"z8A416zV02\"],\"holes\":[]},\"qk8x543nia\":{\"id\":\"qk8x543nia\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"kQwm_FvQVq\",\"ZFNO3i1lqo4\"],\"holes\":[]},\"kyJtS9NisCu\":{\"id\":\"kyJtS9NisCu\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"7kBIV7cS3H\",\"KgnNpLKWq3\"],\"holes\":[\"X6kMvYPr9\"]},\"kWX0_y1JZQ\":{\"id\":\"kWX0_y1JZQ\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"RbSSwk9KeC\",\"7jO732e1WU\"],\"holes\":[]},\"BggyE2BWE-O\":{\"id\":\"BggyE2BWE-O\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"bGmHh1kcyQ\",\"gRldGTaIyU\"],\"holes\":[]},\"GvXW1vTfg1\":{\"id\":\"GvXW1vTfg1\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"DNCYpugQVw9\",\"VR8j2D5uXq\"],\"holes\":[]},\"yNQr-yPiUj\":{\"id\":\"yNQr-yPiUj\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"7kBIV7cS3H\",\"Z5HMAKlHtl\"],\"holes\":[]},\"oYmcyeQ0ag\":{\"id\":\"oYmcyeQ0ag\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"VR8j2D5uXq\",\"YofJXIT8Vb\"],\"holes\":[\"zggMagS_w\"]},\"i07kP34RB7\":{\"id\":\"i07kP34RB7\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"Vd-RfwevOW\",\"U6XuRswOZv\"],\"holes\":[]},\"Zly05G6ggm\":{\"id\":\"Zly05G6ggm\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"h0WLOlUvsb\",\"DNCYpugQVw9\"],\"holes\":[]},\"YNeIAtvL4\":{\"id\":\"YNeIAtvL4\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"tf8li0jzr6\",\"z8A416zV02\"],\"holes\":[]},\"jCj5Emh5oKI\":{\"id\":\"jCj5Emh5oKI\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"bGmHh1kcyQ\",\"tDVA-onC7FE\"],\"holes\":[]},\"l1x4b5vgWh\":{\"id\":\"l1x4b5vgWh\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":0,\"_length\":0,\"_unit\":\"cm\"},\"thickness\":{\"length\":5,\"_length\":5,\"_unit\":\"cm\"},\"textureA\":\"bricks\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"Vd-RfwevOW\"],\"holes\":[]},\"Awkz5ZWi3n\":{\"id\":\"Awkz5ZWi3n\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"kQwm_FvQVq\",\"YofJXIT8Vb\"],\"holes\":[\"Vcr4nmGoN\"]},\"RkERIbewFM\":{\"id\":\"RkERIbewFM\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"z8A416zV02\",\"ILdEnURGZoq\"],\"holes\":[]},\"STIOEtSnI\":{\"id\":\"STIOEtSnI\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{\"_unitLength\":\"cm\"},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"gRldGTaIyU\",\"1y8LfuMP_6\"],\"holes\":[]},\"wSlRvkFNX\":{\"id\":\"wSlRvkFNX\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"U6XuRswOZv\",\"mpxCNELtHm\"],\"holes\":[]},\"YElQF3XIi\":{\"id\":\"YElQF3XIi\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"VR8j2D5uXq\",\"_c2s7_5uBv\"],\"holes\":[]},\"Klm-86RAH\":{\"id\":\"Klm-86RAH\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"XJs9eEj7CB\",\"kQwm_FvQVq\"],\"holes\":[\"XM0ya-vAT\"]},\"InmiOJIjw\":{\"id\":\"InmiOJIjw\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{\"_unitLength\":\"cm\"},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"O_wLNf5et6\",\"EzDHGZgwui\"],\"holes\":[]},\"f6llfjOy__\":{\"id\":\"f6llfjOy__\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300,\"_length\":300,\"_unit\":\"cm\"},\"thickness\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"ILdEnURGZoq\"],\"holes\":[\"o31XcbLGxd\"]},\"p34xz4pyi\":{\"id\":\"p34xz4pyi\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"EzDHGZgwui\",\"ZFNO3i1lqo4\"],\"holes\":[\"xgyfzo4Jy\"]}},\"holes\":{\"mYi8tTDrX\":{\"id\":\"mYi8tTDrX\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":175,\"_length\":175,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.46707822887078626,\"line\":\"VQFLIFqcG7\"},\"o31XcbLGxd\":{\"id\":\"o31XcbLGxd\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":false},\"visible\":true,\"offset\":0.5160066543198206,\"line\":\"f6llfjOy__\"},\"xgyfzo4Jy\":{\"id\":\"xgyfzo4Jy\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":175,\"_length\":175,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.48270225070414563,\"line\":\"p34xz4pyi\"},\"zggMagS_w\":{\"id\":\"zggMagS_w\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":true,\"is_open\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}},\"is_locked\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}}},\"visible\":true,\"offset\":0.6891061452513964,\"line\":\"oYmcyeQ0ag\"},\"X6kMvYPr9\":{\"id\":\"X6kMvYPr9\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{\"_unitA\":\"cm\",\"_unitB\":\"cm\"},\"selected\":false,\"properties\":{\"width\":{\"length\":278,\"_length\":278,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.5005113868964449,\"line\":\"kyJtS9NisCu\"},\"3wHppRxn8\":{\"id\":\"3wHppRxn8\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":186,\"_length\":186,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.6229422785880367,\"line\":\"41oL7Zque\"},\"Vcr4nmGoN\":{\"id\":\"Vcr4nmGoN\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":true,\"is_open\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}},\"is_locked\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}}},\"visible\":true,\"offset\":0.19231263345705973,\"line\":\"Awkz5ZWi3n\"},\"W13rvh4CvW\":{\"id\":\"W13rvh4CvW\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":true,\"is_open\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-7\"},\"Tampering -  Cover Removed\"]}]}},\"is_locked\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}}},\"visible\":true,\"offset\":0.45588806040269203,\"line\":\"dPvKk9FGr\"},\"XM0ya-vAT\":{\"id\":\"XM0ya-vAT\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":84,\"_length\":84,\"_unit\":\"cm\"},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":true},\"visible\":true,\"offset\":0.49720424571741223,\"line\":\"Klm-86RAH\"},\"ahULmLCCUW\":{\"id\":\"ahULmLCCUW\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":175,\"_length\":175,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.7215476299880847,\"line\":\"FzOrZX7Ff\"},\"vEFC654zEs\":{\"id\":\"vEFC654zEs\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":false,\"is_locked\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}}},\"visible\":true,\"offset\":0.26672775467814636,\"line\":\"vxEzRGqcru\"}},\"areas\":{\"s5Y4FR0I9_\":{\"id\":\"s5Y4FR0I9_\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"grass\"},\"visible\":true,\"vertices\":[\"7kBIV7cS3H\",\"Z5HMAKlHtl\",\"7jO732e1WU\",\"RbSSwk9KeC\",\"KgnNpLKWq3\"],\"holes\":[]},\"w46JgwWtmx\":{\"id\":\"w46JgwWtmx\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":true,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"parquet\"},\"visible\":true,\"vertices\":[\"kQwm_FvQVq\",\"ZFNO3i1lqo4\",\"X8szm4Jd7z\",\"YofJXIT8Vb\"],\"holes\":[]},\"OdlT7XF9W5\":{\"id\":\"OdlT7XF9W5\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"ceramic\"},\"visible\":true,\"vertices\":[\"_c2s7_5uBv\",\"VR8j2D5uXq\",\"DNCYpugQVw9\",\"mpxCNELtHm\",\"U6XuRswOZv\",\"Vd-RfwevOW\"],\"holes\":[]},\"ZwdFcL4kAQ\":{\"id\":\"ZwdFcL4kAQ\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"ceramic\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"1y8LfuMP_6\",\"tDVA-onC7FE\",\"O_wLNf5et6\",\"z8A416zV02\",\"ILdEnURGZoq\"],\"holes\":[]},\"FYKZdSXzsr\":{\"id\":\"FYKZdSXzsr\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"ceramic\"},\"visible\":true,\"vertices\":[\"bGmHh1kcyQ\",\"gRldGTaIyU\",\"1y8LfuMP_6\",\"pa7gBY24rJ\",\"7jO732e1WU\",\"Z5HMAKlHtl\"],\"holes\":[]},\"ml1uLidFdY\":{\"id\":\"ml1uLidFdY\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"parquet\"},\"visible\":true,\"vertices\":[\"Vd-RfwevOW\",\"U6XuRswOZv\",\"h0WLOlUvsb\",\"NH17_v-Q8I\",\"KgnNpLKWq3\",\"RbSSwk9KeC\",\"7jO732e1WU\",\"pa7gBY24rJ\"],\"holes\":[]},\"teSrKinrn7\":{\"id\":\"teSrKinrn7\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"parquet\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"ILdEnURGZoq\",\"XJs9eEj7CB\",\"kQwm_FvQVq\",\"YofJXIT8Vb\",\"VR8j2D5uXq\",\"_c2s7_5uBv\",\"Vd-RfwevOW\"],\"holes\":[]},\"O12lrliLd9j\":{\"id\":\"O12lrliLd9j\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"bGmHh1kcyQ\",\"tDVA-onC7FE\",\"1y8LfuMP_6\",\"gRldGTaIyU\"],\"holes\":[]},\"hdlqO7yuQh\":{\"id\":\"hdlqO7yuQh\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"U6XuRswOZv\",\"mpxCNELtHm\",\"DNCYpugQVw9\",\"h0WLOlUvsb\"],\"holes\":[]},\"N_tmdnry7x\":{\"id\":\"N_tmdnry7x\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":50,\"_length\":50,\"_unit\":\"cm\"},\"texture\":\"parquet\"},\"visible\":true,\"vertices\":[\"ZFNO3i1lqo4\",\"kQwm_FvQVq\",\"XJs9eEj7CB\",\"ILdEnURGZoq\",\"z8A416zV02\",\"O_wLNf5et6\",\"EzDHGZgwui\"],\"holes\":[]}},\"items\":{},\"selected\":{\"vertices\":[],\"lines\":[],\"holes\":[],\"areas\":[\"w46JgwWtmx\"],\"items\":[]}}},\"grids\":{\"h1\":{\"id\":\"h1\",\"type\":\"horizontal-streak\",\"properties\":{\"step\":20,\"colors\":[\"#808080\",\"#ddd\",\"#ddd\",\"#ddd\",\"#ddd\"]}},\"v1\":{\"id\":\"v1\",\"type\":\"vertical-streak\",\"properties\":{\"step\":20,\"colors\":[\"#808080\",\"#ddd\",\"#ddd\",\"#ddd\",\"#ddd\"]}}},\"selectedLayer\":\"layer-1\",\"groups\":{},\"width\":3000,\"height\":2000,\"meta\":{},\"guides\":{\"horizontal\":{},\"vertical\":{},\"circular\":{}}}",
        "x": 570,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "149f39d1.a19746",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "open",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,113,{\"value_id\":\"6-113-1-6\",\"node_id\":6,\"class_id\":113,\"type\":\"list\",\"genre\":\"user\",\"instance\":1,\"index\":6,\"label\":\"Access Control\",\"units\":\"\",\"help\":\"Access Control Alerts\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"values\":[\"Clear\",\"Door/Window Open\",\"Door/Window Closed\"],\"value\":\"Door/Window Open\"}]}",
        "payloadType": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    },
    {
        "id": "6dc22b6f.cb8c54",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "closed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,113,{\"value_id\":\"6-113-1-6\",\"node_id\":6,\"class_id\":113,\"type\":\"list\",\"genre\":\"user\",\"instance\":1,\"index\":6,\"label\":\"Access Control\",\"units\":\"\",\"help\":\"Access Control Alerts\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"values\":[\"Clear\",\"Door/Window Open\",\"Door/Window Closed\"],\"value\":\"Door/Window Closed\"}]}",
        "payloadType": "str",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    }
]