packages/node-red/flows.json
[
    {
        "id": "12f2fbb2.688eb4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5502b9e2.1e9b88",
        "type": "config-node-location",
        "z": "",
        "name": "Kitchen",
        "tags": "kitchen"
    },
    {
        "id": "9d7c8fde.04677",
        "type": "config-node-zwave-pick-device",
        "z": "",
        "name": "",
        "node_id": "6",
        "device": "aeotecZWA008",
        "location": "5502b9e2.1e9b88"
    },
    {
        "id": "a0be0ab7.8c7498",
        "type": "node-zwave-device-mqtt",
        "z": "12f2fbb2.688eb4",
        "name": "",
        "device": "9d7c8fde.04677",
        "x": 490,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a15df637.b58df8",
        "type": "node-planner",
        "z": "12f2fbb2.688eb4",
        "name": "",
        "url": "planner",
        "planner": "{\"unit\":\"cm\",\"layers\":{\"layer-1\":{\"id\":\"layer-1\",\"altitude\":0,\"order\":0,\"opacity\":1,\"name\":\"default\",\"visible\":true,\"vertices\":{\"_c2s7_5uBv\":{\"id\":\"_c2s7_5uBv\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":839.1638185624798,\"y\":425.18804972022826,\"lines\":[\"jRI6gOPQf-S\",\"QWbZTFV3rof\"],\"areas\":[]},\"tf8li0jzr6\":{\"id\":\"tf8li0jzr6\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":874.1506110696117,\"y\":86.4934146702933,\"lines\":[\"HVFMrpTLAgN\",\"mZzaE4OPmDY\"],\"areas\":[]},\"7kBIV7cS3H\":{\"id\":\"7kBIV7cS3H\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":37.166017131109726,\"y\":41.493414670293305,\"lines\":[\"d3g8YlsyyK_\",\"bOxelhnx4rR\"],\"areas\":[]},\"XJs9eEj7CB\":{\"id\":\"XJs9eEj7CB\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1018.16381856248,\"y\":246.4934146702933,\"lines\":[\"PQGHvZTU0AI\",\"OBzGmRQ1J62\"],\"areas\":[]},\"7jO732e1WU\":{\"id\":\"7jO732e1WU\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":237.16381856247983,\"y\":246.4934146702933,\"lines\":[\"P4SvnqPMcq2\",\"bhmghHV95mQ\",\"IW6ORW6QCsL\"],\"areas\":[]},\"tDVA-onC7FE\":{\"id\":\"tDVA-onC7FE\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":690.1638185624798,\"y\":41.491616482996506,\"lines\":[\"SyetJuT7DS8\",\"N4ysSFARY5g\",\"6Pa2NPfVZ6U\"],\"areas\":[]},\"1y8LfuMP_6\":{\"id\":\"1y8LfuMP_6\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":690.1638185624798,\"y\":113.4934146702933,\"lines\":[\"SyetJuT7DS8\",\"dSJlH1XPxwW\",\"TYPgt5MraY2\"],\"areas\":[]},\"KgnNpLKWq3\":{\"id\":\"KgnNpLKWq3\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":37.16381856247986,\"y\":343.18485256605527,\"lines\":[\"6bJFFuRGpTD\",\"uat-1VoypF7\",\"d3g8YlsyyK_\"],\"areas\":[]},\"DNCYpugQVw9\":{\"id\":\"DNCYpugQVw9\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":733.1638185624798,\"y\":622.1834146702934,\"lines\":[\"YCdvjDKj8Cv\",\"3cbWsQ02qXd\",\"Lc8SRenPBwb\"],\"areas\":[]},\"h0WLOlUvsb\":{\"id\":\"h0WLOlUvsb\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":690.1638185624798,\"y\":622.1834146702934,\"lines\":[\"00sg5dLUxlg\",\"xEtDQOB7MqE\",\"3cbWsQ02qXd\"],\"areas\":[]},\"X8szm4Jd7z\":{\"id\":\"X8szm4Jd7z\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1365.16381856248,\"y\":622.1834146702934,\"lines\":[\"OWIX7rpxyE\",\"l59FvogkP2v\"],\"areas\":[]},\"NH17_v-Q8I\":{\"id\":\"NH17_v-Q8I\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":37.16381856247986,\"y\":622.1834146702934,\"lines\":[\"uat-1VoypF7\",\"00sg5dLUxlg\"],\"areas\":[]},\"O_wLNf5et6\":{\"id\":\"O_wLNf5et6\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":932.1544129756412,\"y\":41.491616482996506,\"lines\":[\"lmfz2f-DObS\",\"6Pa2NPfVZ6U\",\"0hiDDzH2a1L\"],\"areas\":[]},\"EzDHGZgwui\":{\"id\":\"EzDHGZgwui\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1365.15381856248,\"y\":41.493414670293305,\"lines\":[\"c4kIinXmb_7\",\"0hiDDzH2a1L\"],\"areas\":[]},\"mpxCNELtHm\":{\"id\":\"mpxCNELtHm\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":733.1638185624798,\"y\":565.1834146702934,\"lines\":[\"9u8wRGbexHZ\",\"YCdvjDKj8Cv\"],\"areas\":[]},\"pa7gBY24rJ\":{\"id\":\"pa7gBY24rJ\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":690.1638185624798,\"y\":246.4934146702933,\"lines\":[\"dSJlH1XPxwW\",\"IW6ORW6QCsL\",\"XR-9h_ak4gL\",\"A6siZ2hMrQ9\"],\"areas\":[]},\"v5Q85x7w6Mr\":{\"id\":\"v5Q85x7w6Mr\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":874.1506110696117,\"y\":41.493414670293305,\"lines\":[\"HVFMrpTLAgN\"],\"areas\":[]},\"U6XuRswOZv\":{\"id\":\"U6XuRswOZv\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":690.1638185624798,\"y\":565.1834146702934,\"lines\":[\"oionDJ-NjAZ\",\"xEtDQOB7MqE\",\"9u8wRGbexHZ\"],\"areas\":[]},\"z8A416zV02\":{\"id\":\"z8A416zV02\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":932.1544129756412,\"y\":86.4934146702933,\"lines\":[\"mZzaE4OPmDY\",\"lmfz2f-DObS\",\"PNY7ZSoswta\"],\"areas\":[]},\"RbSSwk9KeC\":{\"id\":\"RbSSwk9KeC\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":237.16381856247983,\"y\":343.4934146702933,\"lines\":[\"bhmghHV95mQ\",\"6bJFFuRGpTD\"],\"areas\":[]},\"gRldGTaIyU\":{\"id\":\"gRldGTaIyU\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":625.1638185624798,\"y\":113.4934146702933,\"lines\":[\"TYPgt5MraY2\",\"B3_XlagRi0K\"],\"areas\":[]},\"ZFNO3i1lqo4\":{\"id\":\"ZFNO3i1lqo4\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1365.16381856248,\"y\":356.18690685523165,\"lines\":[\"OWIX7rpxyE\",\"B2Q9LlOfWpp\",\"c4kIinXmb_7\"],\"areas\":[]},\"kQwm_FvQVq\":{\"id\":\"kQwm_FvQVq\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1018.16381856248,\"y\":356.18690685523165,\"lines\":[\"B2Q9LlOfWpp\",\"OBzGmRQ1J62\",\"5ldJaXrgi2e\"],\"areas\":[]},\"bGmHh1kcyQ\":{\"id\":\"bGmHh1kcyQ\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":625.1638185624798,\"y\":41.491616482996506,\"lines\":[\"N4ysSFARY5g\",\"Qd_mf3Y8MbE\",\"B3_XlagRi0K\"],\"areas\":[]},\"VR8j2D5uXq\":{\"id\":\"VR8j2D5uXq\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":839.1638185624798,\"y\":622.1834146702934,\"lines\":[\"QWbZTFV3rof\",\"Lc8SRenPBwb\",\"EmEUJTt4Y9R\"],\"areas\":[]},\"YofJXIT8Vb\":{\"id\":\"YofJXIT8Vb\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":1018.16381856248,\"y\":622.1834146702934,\"lines\":[\"l59FvogkP2v\",\"5ldJaXrgi2e\",\"EmEUJTt4Y9R\"],\"areas\":[]},\"ILdEnURGZoq\":{\"id\":\"ILdEnURGZoq\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":932.1544129756412,\"y\":246.4934146702933,\"lines\":[\"PQGHvZTU0AI\",\"XR-9h_ak4gL\",\"PNY7ZSoswta\"],\"areas\":[]},\"Vd-RfwevOW\":{\"id\":\"Vd-RfwevOW\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":690.1638185624798,\"y\":425.19268477016317,\"lines\":[\"jRI6gOPQf-S\",\"A6siZ2hMrQ9\",\"oionDJ-NjAZ\"],\"areas\":[]},\"Z5HMAKlHtl\":{\"id\":\"Z5HMAKlHtl\",\"type\":\"\",\"prototype\":\"vertices\",\"name\":\"Vertex\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":237.16381856247983,\"y\":41.491616482996506,\"lines\":[\"P4SvnqPMcq2\",\"bOxelhnx4rR\",\"Qd_mf3Y8MbE\"],\"areas\":[]}},\"lines\":{\"lmfz2f-DObS\":{\"id\":\"lmfz2f-DObS\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"O_wLNf5et6\",\"z8A416zV02\"],\"holes\":[]},\"OBzGmRQ1J62\":{\"id\":\"OBzGmRQ1J62\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"XJs9eEj7CB\",\"kQwm_FvQVq\"],\"holes\":[\"hqlygkEfuKN\"]},\"l59FvogkP2v\":{\"id\":\"l59FvogkP2v\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"YofJXIT8Vb\",\"X8szm4Jd7z\"],\"holes\":[]},\"oionDJ-NjAZ\":{\"id\":\"oionDJ-NjAZ\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"Vd-RfwevOW\",\"U6XuRswOZv\"],\"holes\":[]},\"Qd_mf3Y8MbE\":{\"id\":\"Qd_mf3Y8MbE\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"Z5HMAKlHtl\",\"bGmHh1kcyQ\"],\"holes\":[]},\"Lc8SRenPBwb\":{\"id\":\"Lc8SRenPBwb\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"DNCYpugQVw9\",\"VR8j2D5uXq\"],\"holes\":[]},\"OWIX7rpxyE\":{\"id\":\"OWIX7rpxyE\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"ZFNO3i1lqo4\",\"X8szm4Jd7z\"],\"holes\":[\"E0SGcxOPTF\"]},\"dSJlH1XPxwW\":{\"id\":\"dSJlH1XPxwW\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"1y8LfuMP_6\",\"pa7gBY24rJ\"],\"holes\":[]},\"SyetJuT7DS8\":{\"id\":\"SyetJuT7DS8\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"tDVA-onC7FE\",\"1y8LfuMP_6\"],\"holes\":[]},\"N4ysSFARY5g\":{\"id\":\"N4ysSFARY5g\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"bGmHh1kcyQ\",\"tDVA-onC7FE\"],\"holes\":[]},\"00sg5dLUxlg\":{\"id\":\"00sg5dLUxlg\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"NH17_v-Q8I\",\"h0WLOlUvsb\"],\"holes\":[]},\"B2Q9LlOfWpp\":{\"id\":\"B2Q9LlOfWpp\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"kQwm_FvQVq\",\"ZFNO3i1lqo4\"],\"holes\":[]},\"0hiDDzH2a1L\":{\"id\":\"0hiDDzH2a1L\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"O_wLNf5et6\",\"EzDHGZgwui\"],\"holes\":[]},\"PNY7ZSoswta\":{\"id\":\"PNY7ZSoswta\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"z8A416zV02\",\"ILdEnURGZoq\"],\"holes\":[]},\"uat-1VoypF7\":{\"id\":\"uat-1VoypF7\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"KgnNpLKWq3\",\"NH17_v-Q8I\"],\"holes\":[\"hKZk8zzNcFd\"]},\"jRI6gOPQf-S\":{\"id\":\"jRI6gOPQf-S\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"Vd-RfwevOW\",\"_c2s7_5uBv\"],\"holes\":[\"7T3qkxKx8ub\"]},\"EmEUJTt4Y9R\":{\"id\":\"EmEUJTt4Y9R\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"VR8j2D5uXq\",\"YofJXIT8Vb\"],\"holes\":[\"ZMXQyhIrQmJ\"]},\"PQGHvZTU0AI\":{\"id\":\"PQGHvZTU0AI\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"ILdEnURGZoq\",\"XJs9eEj7CB\"],\"holes\":[]},\"c4kIinXmb_7\":{\"id\":\"c4kIinXmb_7\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"EzDHGZgwui\",\"ZFNO3i1lqo4\"],\"holes\":[\"KujIBiUIuTc\"]},\"xEtDQOB7MqE\":{\"id\":\"xEtDQOB7MqE\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"U6XuRswOZv\",\"h0WLOlUvsb\"],\"holes\":[]},\"XR-9h_ak4gL\":{\"id\":\"XR-9h_ak4gL\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"ILdEnURGZoq\"],\"holes\":[\"dCx3zTnUcb5\"]},\"A6siZ2hMrQ9\":{\"id\":\"A6siZ2hMrQ9\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"Vd-RfwevOW\"],\"holes\":[]},\"5ldJaXrgi2e\":{\"id\":\"5ldJaXrgi2e\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"kQwm_FvQVq\",\"YofJXIT8Vb\"],\"holes\":[\"aylDivm5zN6\"]},\"bOxelhnx4rR\":{\"id\":\"bOxelhnx4rR\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"7kBIV7cS3H\",\"Z5HMAKlHtl\"],\"holes\":[]},\"6bJFFuRGpTD\":{\"id\":\"6bJFFuRGpTD\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"KgnNpLKWq3\",\"RbSSwk9KeC\"],\"holes\":[\"GP5R4gakekx\"]},\"d3g8YlsyyK_\":{\"id\":\"d3g8YlsyyK_\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"KgnNpLKWq3\",\"7kBIV7cS3H\"],\"holes\":[]},\"IW6ORW6QCsL\":{\"id\":\"IW6ORW6QCsL\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"7jO732e1WU\",\"pa7gBY24rJ\"],\"holes\":[]},\"bhmghHV95mQ\":{\"id\":\"bhmghHV95mQ\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"7jO732e1WU\",\"RbSSwk9KeC\"],\"holes\":[]},\"YCdvjDKj8Cv\":{\"id\":\"YCdvjDKj8Cv\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"mpxCNELtHm\",\"DNCYpugQVw9\"],\"holes\":[]},\"9u8wRGbexHZ\":{\"id\":\"9u8wRGbexHZ\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"U6XuRswOZv\",\"mpxCNELtHm\"],\"holes\":[]},\"3cbWsQ02qXd\":{\"id\":\"3cbWsQ02qXd\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"bricks\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"h0WLOlUvsb\",\"DNCYpugQVw9\"],\"holes\":[]},\"TYPgt5MraY2\":{\"id\":\"TYPgt5MraY2\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"gRldGTaIyU\",\"1y8LfuMP_6\"],\"holes\":[]},\"B3_XlagRi0K\":{\"id\":\"B3_XlagRi0K\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"bGmHh1kcyQ\",\"gRldGTaIyU\"],\"holes\":[]},\"QWbZTFV3rof\":{\"id\":\"QWbZTFV3rof\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"painted\"},\"visible\":true,\"vertices\":[\"_c2s7_5uBv\",\"VR8j2D5uXq\"],\"holes\":[]},\"6Pa2NPfVZ6U\":{\"id\":\"6Pa2NPfVZ6U\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"tDVA-onC7FE\",\"O_wLNf5et6\"],\"holes\":[]},\"P4SvnqPMcq2\":{\"id\":\"P4SvnqPMcq2\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"Z5HMAKlHtl\",\"7jO732e1WU\"],\"holes\":[\"7HNZfaGdcZx\"]},\"HVFMrpTLAgN\":{\"id\":\"HVFMrpTLAgN\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"v5Q85x7w6Mr\",\"tf8li0jzr6\"],\"holes\":[]},\"mZzaE4OPmDY\":{\"id\":\"mZzaE4OPmDY\",\"type\":\"wall\",\"prototype\":\"lines\",\"name\":\"Wall\",\"misc\":{},\"selected\":false,\"properties\":{\"height\":{\"length\":300},\"thickness\":{\"length\":20},\"textureA\":\"painted\",\"textureB\":\"bricks\"},\"visible\":true,\"vertices\":[\"tf8li0jzr6\",\"z8A416zV02\"],\"holes\":[]}},\"holes\":{\"KujIBiUIuTc\":{\"id\":\"KujIBiUIuTc\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":175,\"_length\":175,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.4827022518802191,\"line\":\"c4kIinXmb_7\"},\"E0SGcxOPTF\":{\"id\":\"E0SGcxOPTF\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":175,\"_length\":175,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.46707823033206514,\"line\":\"OWIX7rpxyE\"},\"ZMXQyhIrQmJ\":{\"id\":\"ZMXQyhIrQmJ\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":true,\"is_open\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}},\"is_tamper_alert\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Closed\"]}]}}},\"visible\":true,\"offset\":0.689106147695643,\"line\":\"EmEUJTt4Y9R\"},\"7HNZfaGdcZx\":{\"id\":\"7HNZfaGdcZx\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":175,\"_length\":175,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.7215476294596204,\"line\":\"P4SvnqPMcq2\"},\"GP5R4gakekx\":{\"id\":\"GP5R4gakekx\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":false},\"visible\":true,\"offset\":0.26671296423759366,\"line\":\"6bJFFuRGpTD\"},\"7T3qkxKx8ub\":{\"id\":\"7T3qkxKx8ub\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":true,\"is_open\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-7\"},\"Tampering -  Cover Removed\"]}]}}},\"visible\":true,\"offset\":0.45588806333900017,\"line\":\"jRI6gOPQf-S\"},\"hKZk8zzNcFd\":{\"id\":\"hKZk8zzNcFd\",\"type\":\"sash window\",\"prototype\":\"holes\",\"name\":\"Sash window\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":186,\"_length\":186,\"_unit\":\"cm\"},\"height\":{\"length\":200,\"_length\":200,\"_unit\":\"cm\"},\"altitude\":{\"length\":20,\"_length\":20,\"_unit\":\"cm\"},\"thickness\":{\"length\":10}},\"visible\":true,\"offset\":0.6229422765591547,\"line\":\"uat-1VoypF7\"},\"dCx3zTnUcb5\":{\"id\":\"dCx3zTnUcb5\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":false},\"visible\":true,\"offset\":0.5160066561278249,\"line\":\"XR-9h_ak4gL\"},\"hqlygkEfuKN\":{\"id\":\"hqlygkEfuKN\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":84,\"_length\":84,\"_unit\":\"cm\"},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":true},\"visible\":true,\"offset\":0.4972042483409549,\"line\":\"OBzGmRQ1J62\"},\"aylDivm5zN6\":{\"id\":\"aylDivm5zN6\",\"type\":\"door\",\"prototype\":\"holes\",\"name\":\"Door\",\"misc\":{},\"selected\":false,\"properties\":{\"width\":{\"length\":80},\"height\":{\"length\":215},\"altitude\":{\"length\":0},\"thickness\":{\"length\":30},\"flip_orizzontal\":true,\"is_open\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}}},\"visible\":true,\"offset\":0.19231263434606552,\"line\":\"5ldJaXrgi2e\"}},\"areas\":{\"HDmkKa1tCOA\":{\"id\":\"HDmkKa1tCOA\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"7jO732e1WU\",\"Z5HMAKlHtl\",\"bGmHh1kcyQ\",\"gRldGTaIyU\",\"1y8LfuMP_6\"],\"holes\":[]},\"y2p3iItpidz\":{\"id\":\"y2p3iItpidz\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"ILdEnURGZoq\",\"XJs9eEj7CB\",\"kQwm_FvQVq\",\"YofJXIT8Vb\",\"VR8j2D5uXq\",\"_c2s7_5uBv\",\"Vd-RfwevOW\"],\"holes\":[]},\"LuNrZOdXv19\":{\"id\":\"LuNrZOdXv19\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"X8szm4Jd7z\",\"YofJXIT8Vb\",\"kQwm_FvQVq\",\"ZFNO3i1lqo4\"],\"holes\":[]},\"tOfmt0RnciL\":{\"id\":\"tOfmt0RnciL\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"EzDHGZgwui\",\"ZFNO3i1lqo4\",\"kQwm_FvQVq\",\"XJs9eEj7CB\",\"ILdEnURGZoq\",\"z8A416zV02\",\"O_wLNf5et6\"],\"holes\":[]},\"cfbEfNi41Ma\":{\"id\":\"cfbEfNi41Ma\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"Vd-RfwevOW\",\"U6XuRswOZv\",\"h0WLOlUvsb\",\"NH17_v-Q8I\",\"KgnNpLKWq3\",\"RbSSwk9KeC\",\"7jO732e1WU\"],\"holes\":[]},\"VEQrnnKXuyO\":{\"id\":\"VEQrnnKXuyO\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"RbSSwk9KeC\",\"KgnNpLKWq3\",\"7kBIV7cS3H\",\"Z5HMAKlHtl\",\"7jO732e1WU\"],\"holes\":[]},\"JpO5v0BZbKv\":{\"id\":\"JpO5v0BZbKv\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"_c2s7_5uBv\",\"VR8j2D5uXq\",\"DNCYpugQVw9\",\"mpxCNELtHm\",\"U6XuRswOZv\",\"Vd-RfwevOW\"],\"holes\":[]},\"XCO1FHN2HJ-\":{\"id\":\"XCO1FHN2HJ-\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"gRldGTaIyU\",\"bGmHh1kcyQ\",\"tDVA-onC7FE\",\"1y8LfuMP_6\"],\"holes\":[]},\"IHyvBYu8TJF\":{\"id\":\"IHyvBYu8TJF\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"pa7gBY24rJ\",\"1y8LfuMP_6\",\"tDVA-onC7FE\",\"O_wLNf5et6\",\"z8A416zV02\",\"ILdEnURGZoq\"],\"holes\":[]},\"hdlqO7yuQh\":{\"id\":\"hdlqO7yuQh\",\"type\":\"area\",\"prototype\":\"areas\",\"name\":\"Area\",\"misc\":{},\"selected\":false,\"properties\":{\"patternColor\":\"#F5F4F4\",\"thickness\":{\"length\":0},\"texture\":\"none\"},\"visible\":true,\"vertices\":[\"U6XuRswOZv\",\"mpxCNELtHm\",\"DNCYpugQVw9\",\"h0WLOlUvsb\"],\"holes\":[]}},\"items\":{\"5TIaEuOy9\":{\"id\":\"5TIaEuOy9\",\"type\":\"smoke-detector\",\"prototype\":\"items\",\"name\":\"Smoke detector\",\"misc\":{},\"selected\":false,\"properties\":{\"altitude\":{\"length\":250,\"unit\":\"cm\"},\"is_alarm\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}},\"is_tamper_alert\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Closed\"]}]}}},\"visible\":true,\"x\":452.51381856247986,\"y\":422.3834146702934,\"rotation\":0},\"KpE5xFgSw\":{\"id\":\"KpE5xFgSw\",\"type\":\"lock\",\"prototype\":\"items\",\"name\":\"Lock\",\"misc\":{},\"selected\":false,\"properties\":{\"altitude\":{\"length\":250,\"unit\":\"cm\"},\"is_locked\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}}},\"visible\":true,\"x\":964.5138185624799,\"y\":608.3834146702934,\"rotation\":-180},\"FtoDqib_9\":{\"id\":\"FtoDqib_9\",\"type\":\"motion-sensor\",\"prototype\":\"items\",\"name\":\"Motion sensor\",\"misc\":{},\"selected\":false,\"properties\":{\"altitude\":{\"length\":250,\"unit\":\"cm\"},\"detection_angle\":120,\"detection_length\":{\"length\":250,\"unit\":\"cm\"},\"is_motion\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Open\"]}]}}},\"visible\":true,\"x\":977.5138185624799,\"y\":282.3834146702934,\"rotation\":-180},\"DmEGgpNRU\":{\"id\":\"DmEGgpNRU\",\"type\":\"light\",\"prototype\":\"items\",\"name\":\"Light\",\"misc\":{},\"selected\":false,\"properties\":{\"altitude\":{\"length\":250,\"unit\":\"cm\"},\"is_turn_on\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-113-1-6\"},\"Door/Window Closed\"]}]}}},\"visible\":true,\"x\":840.5138185624799,\"y\":350.3834146702934,\"rotation\":0}},\"selected\":{\"vertices\":[],\"lines\":[],\"holes\":[],\"areas\":[],\"items\":[]}}},\"grids\":{\"h1\":{\"id\":\"h1\",\"type\":\"horizontal-streak\",\"properties\":{\"step\":20,\"colors\":[\"#808080\",\"#ddd\",\"#ddd\",\"#ddd\",\"#ddd\"]}},\"v1\":{\"id\":\"v1\",\"type\":\"vertical-streak\",\"properties\":{\"step\":20,\"colors\":[\"#808080\",\"#ddd\",\"#ddd\",\"#ddd\",\"#ddd\"]}}},\"selectedLayer\":\"layer-1\",\"groups\":{\"D-0u6B3C0\":{\"id\":\"D-0u6B3C0\",\"type\":\"\",\"prototype\":\"groups\",\"name\":\"D-0u6B3C0\",\"misc\":{},\"selected\":false,\"properties\":{},\"visible\":true,\"x\":725,\"y\":325,\"rotation\":0,\"elements\":{\"layer-1\":{\"lines\":[\"OWIX7rpxyE\",\"PQGHvZTU0AI\",\"jRI6gOPQf-S\",\"P4SvnqPMcq2\",\"bhmghHV95mQ\",\"SyetJuT7DS8\",\"dSJlH1XPxwW\",\"IW6ORW6QCsL\",\"XR-9h_ak4gL\",\"HVFMrpTLAgN\",\"6bJFFuRGpTD\",\"uat-1VoypF7\",\"00sg5dLUxlg\",\"A6siZ2hMrQ9\",\"oionDJ-NjAZ\",\"xEtDQOB7MqE\",\"9u8wRGbexHZ\",\"YCdvjDKj8Cv\",\"l59FvogkP2v\",\"mZzaE4OPmDY\",\"N4ysSFARY5g\",\"lmfz2f-DObS\",\"PNY7ZSoswta\",\"B2Q9LlOfWpp\",\"OBzGmRQ1J62\",\"5ldJaXrgi2e\",\"d3g8YlsyyK_\",\"bOxelhnx4rR\",\"Qd_mf3Y8MbE\",\"TYPgt5MraY2\",\"B3_XlagRi0K\",\"QWbZTFV3rof\",\"3cbWsQ02qXd\",\"Lc8SRenPBwb\",\"EmEUJTt4Y9R\",\"c4kIinXmb_7\",\"6Pa2NPfVZ6U\",\"0hiDDzH2a1L\"],\"holes\":[],\"items\":[\"5TIaEuOy9\",\"KpE5xFgSw\",\"FtoDqib_9\",\"DmEGgpNRU\"]}}}},\"width\":1400,\"height\":660,\"meta\":{},\"guides\":{\"horizontal\":{},\"vertical\":{},\"circular\":{}}}",
        "x": 570,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "149f39d1.a19746",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "open",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,113,{\"value_id\":\"6-113-1-6\",\"node_id\":6,\"class_id\":113,\"type\":\"list\",\"genre\":\"user\",\"instance\":1,\"index\":6,\"label\":\"Access Control\",\"units\":\"\",\"help\":\"Access Control Alerts\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"values\":[\"Clear\",\"Door/Window Open\",\"Door/Window Closed\"],\"value\":\"Door/Window Open\"}]}",
        "payloadType": "str",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    },
    {
        "id": "6dc22b6f.cb8c54",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "closed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,113,{\"value_id\":\"6-113-1-6\",\"node_id\":6,\"class_id\":113,\"type\":\"list\",\"genre\":\"user\",\"instance\":1,\"index\":6,\"label\":\"Access Control\",\"units\":\"\",\"help\":\"Access Control Alerts\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"values\":[\"Clear\",\"Door/Window Open\",\"Door/Window Closed\"],\"value\":\"Door/Window Closed\"}]}",
        "payloadType": "str",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    },
    {
        "id": "14615393.48138c",
        "type": "node-presence-detection",
        "z": "12f2fbb2.688eb4",
        "name": "",
        "graph": "{\"nodes\":[{\"id\":1597001983580,\"title\":\"BATHROOM L1\",\"type\":\"OPEN_LOCK_SENSOR\",\"x\":3.751365900039673,\"y\":569.77685546875,\"condition\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-1003-1-0\"},true]}]}}},{\"id\":1597001957123,\"title\":\"Bathroom\",\"type\":\"ZONE\",\"x\":497.36309814453125,\"y\":541.0889892578125,\"tags\":\"bathroom\"},{\"id\":1597001946994,\"title\":\"BATHROOM M\",\"type\":\"MOTION_SENSOR\",\"x\":211.4007110595703,\"y\":546.6597290039062,\"condition\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-1002-1-0\"},true]}]}}},{\"id\":1597001930204,\"title\":\"Kitchen\",\"type\":\"ZONE\",\"x\":579.066650390625,\"y\":160.4248046875,\"tags\":\"kitchen\"},{\"id\":1597001912156,\"title\":\"KITCHEN M2\",\"type\":\"MOTION_SENSOR\",\"x\":118.5557861328125,\"y\":294.1214904785156,\"condition\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-1001-1-0\"},true]}]}}},{\"id\":1597001871531,\"title\":\"KITCHEN M1\",\"type\":\"MOTION_SENSOR\",\"x\":99.76023864746094,\"y\":80.66336822509766,\"condition\":{\"node\":{\"id\":\"9d7c8fde.04677\",\"nodeId\":6},\"logic\":{\"and\":[{\"==\":[{\"var\":\"values-1000-1-0\"},true]}]}}}],\"edges\":[{\"source\":1597001983580,\"target\":1597001946994,\"type\":\"DEFAULT\"},{\"source\":1597001946994,\"target\":1597001957123,\"type\":\"DEFAULT\"},{\"source\":1597001871531,\"target\":1597001912156,\"type\":\"DEFAULT\"},{\"source\":1597001912156,\"target\":1597001930204,\"type\":\"DEFAULT\"},{\"source\":1597001871531,\"target\":1597001930204,\"type\":\"DEFAULT\"}]}",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "a2109fc4.09019"
            ]
        ]
    },
    {
        "id": "a6a61f8b.a35ba",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "Motion on #1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,1000,{\"value_id\":\"6-1000-1-0\",\"node_id\":6,\"class_id\":1000,\"type\":\"bool\",\"genre\":\"user\",\"instance\":1,\"index\":0,\"label\":\"Motion sensor 1\",\"units\":\"\",\"help\":\"Motion sensor 1\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"value\":true}]}",
        "payloadType": "str",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    },
    {
        "id": "8986050b.62be38",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "Motion off #1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,1000,{\"value_id\":\"6-1000-1-0\",\"node_id\":6,\"class_id\":1000,\"type\":\"bool\",\"genre\":\"user\",\"instance\":1,\"index\":0,\"label\":\"Motion sensor 1\",\"units\":\"\",\"help\":\"Motion sensor 1\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"value\":false}]}",
        "payloadType": "str",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    },
    {
        "id": "18b949eb.be68f6",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "Motion on #2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,1001,{\"value_id\":\"6-1001-1-0\",\"node_id\":6,\"class_id\":1001,\"type\":\"bool\",\"genre\":\"user\",\"instance\":1,\"index\":0,\"label\":\"Motion sensor 2\",\"units\":\"\",\"help\":\"Motion sensor 2\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"value\":true}]}",
        "payloadType": "str",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    },
    {
        "id": "5f478674.68eb98",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "Motion off #2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,1001,{\"value_id\":\"6-1001-1-0\",\"node_id\":6,\"class_id\":1001,\"type\":\"bool\",\"genre\":\"user\",\"instance\":1,\"index\":0,\"label\":\"Motion sensor 2\",\"units\":\"\",\"help\":\"Motion sensor 2\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"value\":false}]}",
        "payloadType": "str",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    },
    {
        "id": "f664f238.207bc",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "Motion on #3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,1002,{\"value_id\":\"6-1002-1-0\",\"node_id\":6,\"class_id\":1002,\"type\":\"bool\",\"genre\":\"user\",\"instance\":1,\"index\":0,\"label\":\"Motion sensor 3\",\"units\":\"\",\"help\":\"Motion sensor 3\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"value\":true}]}",
        "payloadType": "str",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    },
    {
        "id": "40d4037e.1b3e5c",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "Motion off #3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,1002,{\"value_id\":\"6-1002-1-0\",\"node_id\":6,\"class_id\":1002,\"type\":\"bool\",\"genre\":\"user\",\"instance\":1,\"index\":0,\"label\":\"Motion sensor 3\",\"units\":\"\",\"help\":\"Motion sensor 3\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"value\":false}]}",
        "payloadType": "str",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    },
    {
        "id": "bafa971.e6da268",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "Lock on #1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,1003,{\"value_id\":\"6-1003-1-0\",\"node_id\":6,\"class_id\":1003,\"type\":\"bool\",\"genre\":\"user\",\"instance\":1,\"index\":0,\"label\":\"Lock 1\",\"units\":\"\",\"help\":\"Lock 1\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"value\":true}]}",
        "payloadType": "str",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    },
    {
        "id": "32d79917.fe7c96",
        "type": "inject",
        "z": "12f2fbb2.688eb4",
        "name": "Lock off #1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "openzwave2mqtt/_EVENTS/ZWAVE_GATEWAY-openzwave2mqtt/value_changed",
        "payload": "{\"data\":[6,1003,{\"value_id\":\"6-1003-1-0\",\"node_id\":6,\"class_id\":1003,\"type\":\"bool\",\"genre\":\"user\",\"instance\":1,\"index\":0,\"label\":\"Lock 1\",\"units\":\"\",\"help\":\"Lock 1\",\"read_only\":true,\"write_only\":false,\"min\":0,\"max\":0,\"is_polled\":false,\"value\":false}]}",
        "payloadType": "str",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "a0be0ab7.8c7498"
            ]
        ]
    },
    {
        "id": "a2109fc4.09019",
        "type": "debug",
        "z": "12f2fbb2.688eb4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 180,
        "wires": []
    }
]